venv/
__pycache__/
*.pyc
recordings/
clips/
dataset_wajah.pkl
dataset_wajah_facenet.pkl   
*.pt
*.engine                 
*.whl                      
*.onnx                      
py.env
.env
dataset/
requirements.txt*.backup
*.backup2
app.code-workspace
videoanalyticsfacenetbackup.py
videoanalyticsinsightfacebackup.py
register_face_facenet.py
cache_facenet.py
dataset_wajah_facenet.pkl
videoanalyticsfacenetbackup.py
