# URL stream kamera CCTV
STREAM_URL=http://IP_KAMERA:PORT/api/stream.mp4?src=nama_stream

# URL server Python (Flask)
PYTHON_SERVER_URL=http://localhost:5000

# URL server Node.js 
SERVER_URL=http://localhost:3000

# Direktori penyimpanan
SAVE_DIR=/path/ke/recordings
CLIPS_DIR=/path/ke/clips